# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
vendor

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
react/dist/bundle.js
react/dist/libs
spotify.json
mongo.json
node_modules
.vagrant
ansible/spotify.json
profile_tmp.cov
profile.cov
.coveralls.yml
coverage
coverage.xml
.DS_Store
